/* https://coolors.co/7d6167-d1c4b9-89937c-84a59d-545e56 */

/* GENERAL
------------------------- */
@font-face {
	font-family: 'Open-Sans';
	src: url('../fonts/OpenSans-Light.ttf');
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Open-Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open-Sans';
	src: url('../fonts/OpenSans-Bold.ttf');
	font-weight: 600;
	font-display: swap;
}
body {
	font-family: 'Open-Sans';
	padding-top: 82px;
}

::selection, ::-moz-selection {
	background: rgba(2, 43, 100, 0.95);
	color: #fff;
	text-shadow: none;
}

h1, h2, h3, h4 {
	font-weight: 600;
	color: #545e56;
}
h3 {
	font-size: 2.5rem;
}

* { outline: none !important; }

.navbar {
	background-color: #01193a;		/*COSIUS R&D*/
	padding: .7rem 2rem;
	position: fixed;
	width: 100%;
	top: 0; left: 0;
	z-index: 4242;
}
.navbar .navbar-brand {
	font-weight: 900;
}
.navbar .navbar-brand img {
	width: 2.5em;
	height: auto;
}
.navbar .navbar-toggler {
	border: none;
	position: relative;
	padding: 0;
	display: inline-block;
	width: 40px;
	z-index: 424243;
}
.navbar .toggler-bar {
	background-color: #fff;
	display: block;
	height: 5px;
	margin: 7px 0;
	transition: all .3s ease-in-out;
}
.navbar .toggler-bar:nth-child(2) {
	transition: all .5s ease-in-out;
}
.navbar .navbar-toggler.active .toggler-bar:first-child { transform: translateY(12px) rotate(135deg); }
.navbar .navbar-toggler.active .toggler-bar:nth-child(2) { transform: rotateY(90deg); }
.navbar .navbar-toggler.active .toggler-bar:last-child {	transform: translateY(-12px) rotate(-135deg); }

.navbar-collapse {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(1,25,58, 0.95);
	z-index: 424242;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: opacity .45s;
}
.navbar-collapse.active { display: flex; }
.navbar-collapse.visible { opacity: 1; }
.navbar .nav-link {
	font-size: 3.5rem;
	color: #ebe4e0;
	text-transform: uppercase;
}
.navbar .nav-link:hover{
	color: #cdbcb1;
}
.navbar .nav-link.active {
	color: #b9a192;
}
.navbar-collapse img {
	width: 11rem;
	height: auto;
}


 /* Home
 ------------------------- */
.carousel-control-prev,
.carousel-control-next {
	cursor: pointer;
}
.carousel-indicators {
	align-items: center;
	margin-bottom: 0;
}
.carousel-indicators li {
	width: 15px;
	height: 15px;
	transition: all .4s ease-in-out;
	background-color: #022b64;
	opacity: 1;
}
.carousel-indicators li.active {
	width: 20px;
	height: 20px;
	background-color: #023b87;
}
.carousel-caption {
	background-color: rgba(3, 30, 73, 0.9);		/*COSIUS R&D */
	padding: 1rem 2rem;
	bottom: 2.5rem;
}
.carousel-caption h4 { color: #fff;}
.carousel-caption p {
	margin: 0;
}

#trailer {
	max-width: 100%;
}

.assets {
	text-align: center;
	color: #5a5a5a;
}
.assets h1 {
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: normal;
	line-height: 1;
	letter-spacing: -1px;
	color: #333;
	font-weight: 600;
}
.assets h2 {
	font-weight: 200;
	margin-bottom: 20px;
}
.assets p {
	font-size: 16px;
	line-height: 1.5;
}
.assets .assets-byline {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	color: #999;
}
.assets .asset-icon {
    display: inline-block;
    height: 100px; width: 100px;
    border-radius: 10rem;
    background: #02357e;
    color: #fafafa;
    font-size: 2rem;
    line-height: 100px;
    margin-bottom: 1rem;
}
.services {
	list-style: none;
	margin-left: 0;
}
.services li {
	line-height: 30px;
}
.bordertop {
	border-top: 1px solid #EEE;
	margin-top: 20px;
	padding-top: 20px;
}

.btn-download-container {
	width: 100%;
	text-align: center;
}
.btn-download {
	background: #022b64;
	color: #fff !important;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	margin: 1rem 0;
	font-weight: 300;
}
.btn-download:hover,
.btn-download:active {
	background: #02357e;
}

.index-info h1 {
	text-align: center;
}
.index-info h1,
.index-info h2 {
	display: block;
	width: 100%;
	color: #333;
}

/* Team
------------------------ */
.splashart {
	height: 300px;
	background-position: center top;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.splashart h2 {
	font-size: 6rem;
	color: #e5ded8;
	text-shadow: 3px 3px 10px #011532;
}

.splashart.team-splashart {
	background-image: url('../img/cryptenger_banner_background.png');
}

.initiators .card .card-body {
	padding-bottom: 0;
}
.initiators .card .card-body p {
	margin-bottom: .5rem;
}
.initiators .card .team-socials a {
	color: #212529;
	font-size: 2.3rem;
}

.card {
	padding: 1rem;
	text-align: center;
}
.card.contributor {
	padding: .5rem;
}
.card .img-container  {
	width: 100%;
	text-align: center;
}
.card .img-container img {
	border-radius: 50rem;
	width: 60%;
}
.card.contributor .card-body {
	padding: 1rem 0 0 0;
}
.card.contributor .img-container img {
	border-radius: 50rem;
	width: 80%;
}



/* Changelogs
----------------------------- */
.splashart.changelogs-splashart {
	background-image: url('../img/changelogs_tmp_splashart.png');
}

.nav-fill.nav-pills .nav-link {
	background-color: transparent;
	color: #034096;
}
.nav-fill.nav-pills .nav-link:hover {
	background-color: #e0e0e0;
}
.nav-fill.nav-pills .nav-link.active {
	background-color: #022b64;
	color: #fff;
}

#changelogs {
	font-family: monospace;
}
#changelogs .addition {
	color: #008c31;
}
#changelogs .enhance {
	color: #0057a0;
}
#changelogs .deletion {
	color: #C72C1C;
}
#changelogs .bug {
	color: #505050;
}





/* Downloads
------------------------ */
.splashart.downloads-splashart {
	background-image: url("https://ak7.picdn.net/shutterstock/videos/18451507/thumb/1.jpg");
}

.dl-title {
	font-size: 3rem;
	text-align: center;
}
.mb-6 {
	margin-bottom: 6rem;
}

.downloader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.downloader-container h4 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
.downloader-container .selector-container {
	position: relative;
}
.downloader,
.dl-selector,
.dl-selection button {
	padding: 2rem;
	width: 162px;
	height: 162px;
	border-radius: 0;
	font-size: 4rem;
	background-color: #02357e;
	border: none;
	box-shadow: none !important;
	margin-bottom: .5rem;
}
.downloader:hover,
.dl-selector:hover,
.dl-selection button:hover {
	background-color: #022b64;
}
.downloader:active,
.dl-selector:active,
.dl-selection button:active {
	background-color: #01204b !important;
}
.downloader span {
	font-size: .9rem;
	display: block;
}

.dl-selector {
	position: relative;
	width: unset;
	font-size: 1.5rem;
	padding: 0 .75rem;
}
.dl-selector:after {
	content: "";
	position: absolute;
	left: -1px;
	top: 10%;
	width: 2px;
	height: 80%;
	background: #022854;
}

.dl-selection {
	z-index: 1000;
	position: absolute;
	display: none;
	width: 100%;
	top: calc(100% - .5rem);
	box-shadow: 0 10px 15px 0 rgba(20, 20, 20, .75);
}

.dl-selection button {
	width: 100%;
	font-size: 1rem;
	height: unset;
	margin: 0;
	padding: .7rem;
	border-top: 1px solid #02204b !important;
}


/******* FOOTER *******/
.footer {
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 1.6rem 0;
}

.copyleft {
	display: block;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding: .5rem 0;
	margin: 0;
}
.copyleft img {
	width: 2.5rem;
	height: auto;
}

.github-link {
	font-size: 2.7rem;
}
footer.footer a:hover {
	color: #044baf;
	text-decoration: none;
}