/* https://coolors.co/7d6167-d1c4b9-89937c-84a59d-545e56 */

/* GENERAL
------------------------- */
@font-face {
	font-family: 'Open-Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open-Sans';
	src: url('../fonts/OpenSans-Bold.ttf');
	font-weight: 600;
	font-display: swap;
}body {
	font-family: 'Open-Sans';
	padding-top: 65.4px;
}h1, h2, h3, h4 {
	font-weight: 600;
	color: #545e56;
}
h3 {
	font-size: 2.5rem;
}

* { outline: none !important; }

.navbar {
	background-color: #545e56;
	padding: .7rem 2rem;
	position: fixed;
	width: 100%;
	top: 0; left: 0;
	z-index: 4242;
}
.navbar .navbar-toggler {
	border: none;
	position: relative;
	padding: 0;
	display: inline-block;
	width: 40px;
	z-index: 424243;
}
.navbar .toggler-bar {
	background-color: #fff;
	display: block;
	height: 5px;
	margin: 7px 0;
	transition: all .3s ease-in-out;
}
.navbar .toggler-bar:nth-child(2) {
	transition: all .5s ease-in-out;
}
.navbar .navbar-toggler.active .toggler-bar:first-child { transform: translateY(12px) rotate(135deg); }
.navbar .navbar-toggler.active .toggler-bar:nth-child(2) { transform: rotateY(90deg); }
.navbar .navbar-toggler.active .toggler-bar:last-child {	transform: translateY(-12px) rotate(-135deg); }.navbar-collapse {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(137,147,124, 0.95);
	z-index: 424242;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
}
.navbar-collapse.active { display: flex; }.navbar .nav-link {
	font-size: 3.5rem;
	color: #e8e1dc;
	text-transform: uppercase;
}
.navbar .nav-link:hover{
	color: #d1c4b9;
}
.navbar .nav-link.active {
	color: #beb3a9;
}


 /* Home
 ------------------------- */
.carousel-control-prev,
.carousel-control-next {
	cursor: pointer;
}
.carousel-indicators {
	align-items: center;
	margin-bottom: 0;
}
.carousel-indicators li {
	width: 15px;
	height: 15px;
	transition: all .4s ease-in-out;
	background-color: #9ea693;
	opacity: 1;
}
.carousel-indicators li.active {
	width: 20px;
	height: 20px;
	background-color: #89937c;
}
.carousel-caption {
	background-color: rgba(84, 94, 86, 0.9);
	padding: 1rem 2rem;
	bottom: 2.5rem;
}
.carousel-caption h4 { color: #fff;}
.assets {
	text-align: center;
	color: #5a5a5a;
}
.assets h1 {
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: normal;
	line-height: 1;
	letter-spacing: -1px;
}
.assets h2 {
	font-weight: 200;
	margin-bottom: 20px;
}
.assets p {
	font-size: 16px;
	line-height: 1.5;
}
.assets .assets-byline {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	color: #999;
}
.assets .asset-icon {
    display: inline-block;
    height: 100px; width: 100px;
    border-radius: 10rem;
    background: #00b894;
    color: #fafafa;
    font-size: 2rem;
    line-height: 100px;
    margin-bottom: 1rem;
}
.services {
	list-style: none;
	margin-left: 0;
}
.services li {
	line-height: 30px;
}
.bordertop {
	border-top: 1px solid #EEE;
	margin-top: 20px;
	padding-top: 20px;
}

/* Team
------------------------ */
.splashart {
	height: 300px;
	background-position: center top;
	display: flex;
	justify-content: center;
	align-items: center;
}
.splashart h2 {
	font-size: 6rem;
	color: #e5ded8;
	text-shadow: 3px 3px 10px #545e56;
}

.splashart.team-splashart {
	background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d8328f77-2bec-4a20-9483-ea76dd62985e/dan31sc-80f18518-0ef0-4bdc-9c0a-11c9e62b769f.png/v1/fill/w_1192,h_670,q_70,strp/hackerman_by_shiiftyshift_dan31sc-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2Q4MzI4Zjc3LTJiZWMtNGEyMC05NDgzLWVhNzZkZDYyOTg1ZVwvZGFuMzFzYy04MGYxODUxOC0wZWYwLTRiZGMtOWMwYS0xMWM5ZTYyYjc2OWYucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.oexYyxCE-NGCtW-MLYjftpP8CKxQNLaX-zANrWbxgNs');
}

.card {
	padding: 1rem;
	text-align: center;
}
.card.contributor {
	padding: .5rem;
}
.card .img-container  {
	width: 100%;
	text-align: center;
}
.card .img-container img {
	border-radius: 50rem;
	width: 60%;
}
.card.contributor .card-body {
	padding: 1rem 0 0 0;
}
.card.contributor .img-container img {
	border-radius: 50rem;
	width: 80%;
}



/* Changelogs
----------------------------- */
.splashart.changelogs-splashart {
	background-image: url('../img/changelogs_tmp_splashart.png');
}

.nav-fill.nav-pills .nav-link {
	background-color: transparent;
	color: #89937c;
}
.nav-fill.nav-pills .nav-link:hover {
	background-color: #e0e0e0;
}
.nav-fill.nav-pills .nav-link.active {
	background-color: #89937c;
	color: #fff;
}

#changelogs {
	font-family: monospace;
}
#changelogs .addition {
	color: #008c31;
}
#changelogs .enhance {
	color: #0057a0;
}
#changelogs .deletion {
	color: #C72C1C;
}
#changelogs .bug {
	color: #505050;
}

/******* FOOTER *******/
.copyleft {
	display: block;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding: 1rem 0;
	margin: 0;
}